/*SHOWING BLOCK*/

.pr, .pf, .if, .in, .ou, .ei, .et, .wb, .hb, .sb, .pa, .re, .ep, .eh{
    position: fixed;
    margin-left: 430px;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 5px 20px;
    width: 200px;
    height: 230px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    z-index: 1;
}

.show-image{
    width: 80px;
}

.show-name{
    padding: 20px;
    font-size: 110%;
    text-align: center;
    border-top: solid 1px rgb(0, 0, 0);
}